{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="client-info">
    <h5>Parent: {{ parent.name }}</h5>

</div>
<h2>Your Children</h2>
<br>
<div id="client-list-table">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="table-header">Child Name</th>
                <th scope="col" class="table-header">Age</th>
                <th scope="col" class="table-header">Date of Birth</th>
                <th scope="col" class="table-header">Specialist</th>
            </tr>
        </thead>
        <tbody>
            {% for child in children %}
            <tr>
                <td><a href="{% url 'specialist:parent_detail' parent.id %}">{{ child.name }}</a></td>
                <td>{{ child.age }}</td>
                <td>{{ child.dob }}</td>
                <td>{{ child.specialist }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}