{% extends 'base.html' %}

{% block content %}
<h2>{{ user.username }}'s Dashboard</h2>
<div>
    <p>Search for client by name</p>
    <form class="d-flex" role="search" action="{% url 'specialist:search_results' %}" method="get">
        <input class="form-control me-2" type="search" placeholder="Enter client's full name" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>
<button><a href="{% url 'specialist:add_client' %}">Click here to add new client</a></button><br>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Client Name</th>
            <th>Age</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td><a href="{% url 'specialist:client_detail' client.id %}">{{ client.name }}</a></td>
            <td>{{ client.age }}</td>
            <td>{{ client.gender }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="client">
    {% for client in clients %}
    <h3><a href="{% url 'specialist:client_detail' client.id %}">{{ client.name }}</a></h3>
    <p>Date of birth: {{ client.dob }}</p>
    <p>Age: {{ client.age }}</p>
    <p>Gender: {{ client.gender }}</p>
    <p>Specialist: {{ client.specialist }}</p>
</div>
{% endfor %}




{% endblock %}