{% extends 'base.html' %}


{% block content %}
<h1>{{ client.name }}</h1>
<button><a href="{% url 'specialist:client_list' %}"> Back to Specialist's Dashboard</a></button>
<h2>Target Behaviors</h2>

<ul>
    {% for behavior in behaviors%}
    <li>{{ behavior.behavior1 }}</li>
    <li>{{ behavior.behavior2 }}</li>
    <li>{{ behavior.behavior3 }}</li>

    {% endfor %}
</ul>
<table>
    <thead>
        <tr>
            <th>Behavior</th>
            <th>Intensity</th>
            <th>Frequency</th>
        </tr>
    </thead>
    <tbody>
        <!-- {% for behavior in client.behavior_set.all %}
        <tr>
            <td>{{ behavior.behavior1 }}</td>
            <td>{{ behavior.behavior1_frequency }}</td>
            <td>{{ behavior.behavior1_intensity }}</td>
            <td>{{ behavior.behavior2 }}</td>
            <td>{{ behavior.behavior2_frequency }}</td>
            <td>{{ behavior.behavior2_intensity }}</td>
            <td>{{ behavior.behavior3 }}</td>
            <td>{{ behavior.behavior3_frequency }}</td>
            <td>{{ behavior.behavior3_intensity }}</td><br>
        </tr><br>
        {% endfor %} -->
        <button><a href="{% url 'specialist:add_behavior' client.id %}">Add Behaviors for this Client</a></button>

        <button><a href="{% url 'specialist:edit_target_behaviors' client.id %}">Edit Behaviors for this
                Client</a></button>
        <button><a href="{% url 'specialist:parent_detail' client.id %}">Parent Detail</a></button>



    </tbody>
</table><br>
<button><a href="{% url 'specialist:client_list' %}"> Back to Specialist's Dashboard</a></button>
{% endblock content %}