{% extends 'base.html' %}


{% block content %}
<h1>{{ client.name }}</h1>
<button><a href="{% url 'specialist:client_list' %}"> Back to Specialist's Dashboard</a></button>
<h2>Target Behaviors</h2>

<ul>
    {% for behavior in behaviors %}
    <p>Target Behavior: {{ behavior.behavior }}</p>
    <p>Details: {{ behavior.behavior_details }}</p><br>
    <button><a href="{% url 'specialist:edit_target_behaviors' behavior.id %}">Edit this behavior</a></button>

    {% endfor %}
</ul>
<table>
    <thead>
        <tr>
            <th>Behavior</th>
            <th>Intensity</th>
            <th>Frequency</th>
        </tr>
    </thead>
    <tbody>
        <button><a href="{% url 'specialist:record_feeling' client.id %}">Record Feeling</a></button>

        <button><a href="{% url 'specialist:edit_target_behaviors' client.id %}">Edit Target Behaviors</a></button>



        <button><a href="{% url 'specialist:add_behavior' client.id %}">Add Behaviors for this Client</a></button>



        <button><a href="{% url 'specialist:parent_detail' client.id %}">Parent Detail</a></button>

        <button><a href="{% url 'specialist:view_feelings' client.id %}">View Feelings</a></button>


    </tbody>
</table><br>
<button><a href="{% url 'specialist:client_list' %}"> Back to Specialist's Dashboard</a></button>
{% endblock content %}