{% extends 'base.html' %}

{% block content %}
<h2>{{ user.username }}'s Clients</h2>
{% for client in clients %}
<div class="client">
    <h3><a href="{% url 'specialist:client_detail' client.id %}">{{ client.name }}</a></h3>
    <p>Date of birth: {{ client.dob }}</p>
    <p>Age: {{ client.age }}</p>
    <p>Gender: {{ client.gender }}</p>
    <p>Specialist: {{ client.specialist }}</p>
</div>
{% endfor %}

<button><a href="{% url 'specialist:add_client' %}">Click here to add new client</a></button>
{% endblock %}