{% extends 'base.html' %}

{% block content %}
<h2>Parent: {{ parent.name }}</h2>
<p><a href="{% url 'logout' %}">Log Out</a></p>

<p>Child: {{ child.name }}</p>
<p>Child's Age: {{ child.age }}</p>

{% for behavior in behaviors %}
<p>Target Behavior: {{ behavior.behavior }}</p>
<p>Details: {{ behavior.behavior_details }}</p>
{% endfor %}

<h1>Behavior Rating Form for {{ parent.child }}</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message.message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
<br>
<br>
{% endblock content %}