{% extends 'base.html'%}
{% load static %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>Child Name</th>
            <th>Age</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Specialist</th>
        </tr>
    </thead>
    <tbody>
        {% for child in children %}
        <tr>
            <td>{{ child.name }}</td>
            <td>{{ child.age }}</td>
            <td>{{ child.dob }}</td>
            <td>{{ child.gender }}</td>
            <td>{{ child.specialist }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}