{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Hi, {{ child.name }}!</h1>
<h2>How are you feeling right now?</h2>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message.message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="feeling-form">
    <form action="{% url 'specialist:record_feeling' client_id=child.id %}" method="post">
        {% csrf_token %}
        <label for="feeling">Select your feeling:</label>
        <br>
        <input type="radio" id="happy" name="feeling" value="happy">
        <label for="happy">
            <img src="{% static 'images/happy.png' %}" alt="happy">
        </label>
        <br>
        <input type="radio" id="sad" name="feeling" value="sad">
        <label for="sad">
            <img src="{% static 'images/happy.png' %}" alt="sad">
        </label>
        <br>
        <input type="radio" id="angry" name="feeling" value="angry">
        <label for="angry">
            <img src="{% static 'images/happy.png' %}" alt="angry">
        </label>
        <br>
        <input type="radio" id="scared" name="feeling" value="scared">
        <label for="scared">
            <img src="{% static 'images/happy.png' %}" alt="scared">
        </label>
        <br>
        <input type="radio" id="tired" name="feeling" value="tired">
        <label for="tired">
            <img src="{% static 'images/happy.png' %}" alt="tired">
        </label>
        <br>
        <input type="radio" id="confused" name="feeling" value="confused">
        <label for="confused">
            <img src="{% static 'images/happy.png' %}" alt="confused">
        </label>
        <br>
        <input type="radio" id="disappointed" name="feeling" value="disappointed">
        <label for="disappointed">
            <img src="{% static 'images/happy.png' %}" alt="disappointed">
        </label>
        <br>
        <input type="radio" id="frustrated" name="feeling" value="frustrated">
        <label for="frustrated">
            <img src="{% static 'images/happy.png' %}" alt="frustrated">
        </label>
        <br>
        <input type="radio" id="lonely" name="feeling" value="lonely">
        <label for="lonely">
            <img src="{% static 'images/happy.png' %}" alt="lonely">
        </label>
        <br>
        <input type="radio" id="nervous" name="feeling" value="nervous">
        <label for="nervous">
            <img src="{% static 'images/happy.png' %}" alt="nervous">
        </label>
        <br>
        <input type="radio" id="proud" name="feeling" value="proud">
        <label for="proud">
            <img src="{% static 'images/happy.png' %}" alt="proud">
        </label>
        <br>
        <input type="radio" id="surprised" name="feeling" value="surprised">
        <label for="surprised">
            <img src="{% static 'images/happy.png' %}" alt="surprised">
        </label>
        <br>
        <input type="radio" id="worried" name="feeling" value="worried">
        <label for="worried">
            <img src="{% static 'images/happy.png' %}" alt="worried">
        </label>
        <br>
        <input type="radio" id="overwhelmed" name="feeling" value="overwhelmed">
        <label for="overwhelmed">
            <img src="{% static 'images/happy.png' %}" alt="overwhelmed">
        </label>
        <br>
        <h3>Have something else to say? Say it here!</h3>


        <textarea name="note" cols="30" rows="10"></textarea>
        <button type="submit" value="Save">Save</button>
    </form>
</div>

{% endblock %}