{% extends 'base.html' %}
{% load static %}
{% block title %}Record Feeling{% endblock %}
{% block content %}
<h1>Hi, {{ child.name }}!</h1>
<h2>How are you feeling right now?</h2>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message.message }}</li>
    {% endfor %}
</ul>
{% endif %}


<div class="container">
    <form action="{% url 'specialist:record_feeling' client_id=child.id %}" method="post">
        {% csrf_token %}
        <label for="feeling">Select your feeling:</label>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-4 mx-auto">
                    <label>
                        <input type="radio" name="feeling" id="happy" value="happy" selected checked
                            class="card-input-element">

                        <div class="card card-default card-input text-center" style="width:200px">
                            <img class="card-img-top" src="{% static 'images/happy-face-lg3.png' %}" alt="happy face">
                            <div class="card-body">
                                <h4 class="card-title">HAPPY</h4>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="col-4 mx-auto">
                    <label>
                        <input type="radio" name="feeling" id="sad" value="sad" selected checked
                            class="card-input-element">

                        <div class="card card-default card-input text-center" style="width:200px">
                            <img class="card-img-top" src="{% static 'images/sad.png' %}" alt="sad face">
                            <div class="card-body">
                                <h4 class="card-title">SAD</h4>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="col-4 mx-auto">
                    <label>
                        <input type="radio" name="feeling" id="angry" value="angry" selected checked
                            class="card-input-element">

                        <div class="card card-default card-input text-center" style="width:200px">
                            <img class="card-img-top" src="{% static 'images/angry.png' %}" alt="angry face">
                            <div class="card-body">
                                <h4 class="card-title">ANGRY</h4>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="row">
                    <div class="col-4 mx-auto">
                        <label>
                            <input type="radio" name="feeling" id="scared" value="scared" selected checked
                                class="card-input-element">

                            <div class="card card-default card-input text-center" style="width:200px">
                                <img class="card-img-top" src="{% static 'images/scared.png' %}" alt="scared face">
                                <div class="card-body">
                                    <h4 class="card-title">SCARED</h4>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-4 mx-auto">
                <label>
                    <input type="radio" id="happy" name="feeling" value="happy" selected checked
                        class="card-input-element">
                    <div></div>
                </label>
                <div class="card text-center" style="width:200px">
                    <img class="card-img-top" src="{% static 'images/scared.png' %}" alt="scared face">
                    <div class="card-body">
                        <h4 class="card-title">SCARED</h4>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div>

            </div>

        </div>
</div>
</div>
</div>
<br>

</form>
</div>
<br>
<h3>Have something else to say? Say it here!</h3>


<textarea name="note" cols="30" rows="10"></textarea>
<button type="submit" value="Save">Save</button>


{% endblock %}