{% extends 'base.html'%}
{% block content %}

<h1>Parent Behavior Ratings</h1>
<div class="parent_data">
    <ul>
        {% for behavior in behaviors %}
        <li>{{ behavior.behavior }}: Intensity: {{ behavior.behavior_intensity }}
            Frequency: {{ behavior.behavior_frequency }}
            Date: {{ behavior.created_at|date:"Y-m-d" }}</li><br>
        <li>{{ behavior.behavior }}: Intensity: {{ behavior.behavior_intensity }}
            Frequency: {{ behavior.behavior_frequency }}
            Date: {{ behavior.created_at|date:"Y-m-d" }}</li><br>
        <li>{{ behavior.behavior }}: Intensity: {{ behavior.behavior_intensity }}
            Frequency: {{ behavior.behavior_frequency }}
            Date: {{ behavior.created_at|date:"Y-m-d" }}</li>

        {% endfor %}
    </ul>


</div>


<h1>Feelings reported by {{ child.name }}</h1>
<div class="feeling">
    {% for feeling in feelings %}
    <p>Feeling: {{ feeling.get_feeling_display }}</p>
    <p>Note: {{ feeling.note }}</p>
    <p>Reported: {{ feeling.recorded_at|date:"F j, Y, H:i" }}</p><br>
    {% endfor %}
</div>
{% endblock content %}